{% load form_tags widget_tweaks %}

<div class="card mb-2">
    <div class="card-header">液体集熱式太陽熱利用給湯設備</div>
    <div class="card-body">

        {# 太陽熱給湯設備の有無 #}
        <div class="form-group">
            {% for error in form.solar_water_heater_type.errors %}
                <div class="invalid-feedback">
                {{ error }}
                </div>
            {% endfor %}
            {% render_field form.solar_water_heater_type class=form.solar_water_heater_type|input_class %}
            <small class="form-text text-muted">
            {{ form.solar_water_heater_type.help_text|safe }}
            </small>
        </div>

        <div class="card mb-2" id="id_card_solar_water_heater_area_type" style="display:none;">
            <div class="card-header">集熱面積の入力</div>
            <div class="card-body">

                {# 集熱面積の入力方法 #}
                <div class="form-group">
                    {% for error in form.solar_water_heater_area_type.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                    {% render_field form.solar_water_heater_area_type class=form.solar_water_heater_area_type|input_class %}
                    <small class="form-text text-muted">
                    {{ form.solar_water_heater_area_type.help_text|safe }}
                    </small>
                </div>

                {# 集熱面積 #}
                <div class="form-group">
                    {{ form.solar_water_heater_area.label_tag }}
                    {% for error in form.solar_water_heater_area.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                    {% render_field form.solar_water_heater_area class=form.solar_water_heater_area|input_class %}
                    <small class="form-text text-muted">
                    {{ form.solar_water_heater_area.help_text|safe }}
                    </small>
                </div>

            </div>
        </div>

        <div class="card mb-2" id="id_card_solar_water_heater_system1" style="display:none;">
            <div class="card-header">太陽熱温水器(太陽熱給湯1)を設置する場合</div>
            <div class="card-body">

                {# 集熱パネル方位角 #}
                <div class="form-group">
                    {{ form.solar_water_heater_direction.label_tag }}
                    {% for error in form.solar_water_heater_direction.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                    {% render_field form.solar_water_heater_direction class=form.solar_water_heater_direction|input_class %}
                    <small class="form-text text-muted">
                    {{ form.solar_water_heater_direction.help_text|safe }}
                    </small>
                </div>

                {# 集熱パネル傾斜角 #}
                <div class="form-group">
                    {{ form.solar_water_heater_angle.label_tag }}
                    {% for error in form.solar_water_heater_angle.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                    {% render_field form.solar_water_heater_angle class=form.solar_water_heater_angle|input_class %}
                    <small class="form-text text-muted">
                    {{ form.solar_water_heater_angle.help_text|safe }}
                    </small>
                </div>

            </div>
        </div>

        <div class="card mb-2" id="id_card_solar_water_heater_system2" style="display:none;">
            <div class="card-header">ソーラーシステム(太陽熱給湯2)を設置する場合</div>
            <div class="card-body">

                {# 集熱パネル方位角 #}
                <div class="form-group">
                    {{ form.solar_water_heater_direction.label_tag }}
                    {% for error in form.solar_water_heater_direction.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                    {% render_field form.solar_water_heater_direction class=form.solar_water_heater_direction|input_class %}
                    <small class="form-text text-muted">
                    {{ form.solar_water_heater_direction.help_text|safe }}
                    </small>
                </div>

                {# 集熱パネル傾斜角 #}
                <div class="form-group">
                    {{ form.solar_water_heater_angle.label_tag }}
                    {% for error in form.solar_water_heater_angle.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                    {% render_field form.solar_water_heater_angle class=form.solar_water_heater_angle|input_class %}
                    <small class="form-text text-muted">
                    {{ form.solar_water_heater_angle.help_text|safe }}
                    </small>
                </div>

                {# 貯湯タンク容量 #}
                <div class="form-group">
                    {{ form.solar_water_heater_tank_capacity.label_tag }}
                    {% for error in form.solar_water_heater_tank_capacity.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                    {% render_field form.solar_water_heater_tank_capacity class=form.solar_water_heater_tank_capacity|input_class %}
                    <small class="form-text text-muted">
                    {{ form.solar_water_heater_tank_capacity.help_text|safe }}
                    </small>
                </div>

            </div>
        </div>

    </div>
</div>


